<form action="<%=locals.paths.userAdd%>" method="post" >

<div>
<label for="username">Username:</label>
<input id="username" name="username" type="text"/>
</div>

<div>
<label for="password">Password:</label>
<input id="password" name="password" type="text"/>
</div>

<div>
<label for="name">Name:</label>
<input id="name" name="name" type="text"/>
</div>

<div>
<label for="about">About:</label>
<input id="about" name="about" type="text"/>
</div>


<div>
<input type="submit" value="Add"/>
</div>

</form>

