
<form action="<%=route%>" method="post" enctype="multipart/form-data">

<div>
<label for="images">Images:</label>
<input multiple=true type='file' name='images'/>
</div>

<div>
<input type="submit" value="Add"/>
</div>

</form>
