<form action="<%=route%>" method="post" >

<div>
<label for="name">Название:</label>
<input id="name" name="name" type="text"/>
</div>

<div>
<label for="about">Описание:</label>
<input id="about" name="about" type="text"/>
</div>

<div>
<label for="price">Цена:</label>
<input id="price" name="price" type="text"/>
</div>

<div>
<label for="tel">Телефон:</label>
<input id="tel" name="tel" type="text"/>
</div>

<div>
<label for="email">Почта:</label>
<input id="email" name="email" type="text"/>
</div>
<div>
<label for="tag">Раздел:</label>
<input id="tag" name="tag" type="text"/>
</div>
<div>
<input type="submit" value="Добавить"/>
</div>

</form>

