<link rel="stylesheet" href="/css/style.css">
<script src="http://localhost:3000/js/jquery-3.7.1.min.js"></script>


<% doc.forEach(function (doc){ %>



<div class=cardList>

<div class=header>
<a href="<%=doc._id%>"> <%= doc.name %> </a> 
</div>

<div class=photo>
<img height=100 width=75 alt="photo" src="<%=doc.avatar%>"/>
</div>

<div class=text>
<p align=center>O sebe:</p>
<p align=left><%= doc.about%></p>
</div>


</div>


<% }) %>









