<link rel="stylesheet" href="/css/style.css">


<div class=CardPage>

<div class=header>  
<h1 align=center> <%= doc.name %> </h1>
</div>

<div class=photo>
<img alt="photo" src="<%=doc.avatar%>"/>
</div>

<div class=text>
<h4 align=center>O sebe:</h4>
<%=doc.about%>
</div>





