<link rel="stylesheet" href="/css/style.css">

<form action="/users/list/" method="post">
<div>
<label for="search">Search:</label>
<input id="search" name="search" type="search"/>
<input type="submit" value="Submit"/>
</div>
</form>









