<div class=navigation id=navigation>
<a href="http://localhost:3000/home/"> Главная </a>
<a href="http://localhost:3000/users/me/"> Профиль </a>
<a href="http://localhost:3000/users/me/item/add"> Добавить </a>
<a href="http://localhost:3000/users/login"> Вход </a>
<a href="http://localhost:3000/users/logout"> Выход </a>
<a href="http://localhost:3000/users/add"> Регистрация </a>
<div>
