 <img alt="photo" src="<%=doc.avatar%>" />  

<form action="/users/me/avatar" method="post">
<div>
<label for="avatar">Avatar:</label>
<input id="avatar" name="avatar" type="text"/>
<input type="submit" value="Submit"/>
</div>
</form>

